
.navb{
  grid-area: n;
  background-color: grey;
  border-color: 'transparent';
  border-width: 1;
  border-style: solid;
  height: 85px;
}
.item a {
  color:white;
  text-decoration:none;
}

.item a.activeLink {
  color: gold;
}
